header {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  position: absolute;
}
header div {
  width: 40%;
  padding: 2%;
}
header nav {
  width: 50%;
  text-align: end;
}
header nav #nav-burguer {
  font-size: 1.75rem;
}
header div, header nav {
  margin: 0;
  display: inline-block;
}
header ul {
  display: none;
  grid-template: repeat(4, 1fr)/1fr;
  justify-content: space-around;
}
header ul li {
  text-align: center;
  align-items: center;
  height: 2rem;
  width: 100%;
  list-style-type: none;
  vertical-align: middle;
}
header ul li a {
  color: #A5A5A5;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 3.28px;
  text-align: center;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul li :hover {
  color: black;
}

@media only screen and (min-width: 1000px) {
  header {
    height: auto !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  header ion-icon {
    display: none !important;
  }
  header nav, header div {
    width: 100%;
  }
  header div {
    margin-left: 10%;
  }
  header nav {
    margin-right: 10%;
    height: 100% !important;
    align-items: center;
  }
  header ul {
    margin-top: 0 !important;
    height: 100% !important;
    display: grid !important;
    grid-template: 1fr/repeat(4, 1fr) 10%;
    justify-content: space-around;
    position: static !important;
  }
  header ul li {
    display: grid !important;
    text-align: center;
    align-items: center;
    height: auto !important;
  }
  header ul li a {
    color: #A5A5A5;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 3.28px;
    text-align: center;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header ul li:hover {
    border-bottom: solid 3px var(--app-blue);
  }
  header ul li:hover a {
    color: black;
  }
}
main {
  text-align: center;
}
main button {
  width: 310px;
  height: 67px;
  gap: 0px;
  border: none;
  border-radius: 40px;
  opacity: 0px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  color: #fff;
}

footer {
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
footer h1 {
  font-size: 26px;
}
footer p {
  font-size: 11px;
  color: #A5A5A5;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 400;
  line-height: 14.98px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
footer #copyright, footer #media {
  width: 55%;
  margin: 0 2%;
  display: inline-block;
  vertical-align: middle;
}
footer #media {
  width: 35%;
  text-align: end;
}

@media only screen and (min-width: 1000px) {
  footer {
    padding: 0 137px;
  }
}
#open {
  padding-top: 20%;
}
#open img {
  width: 100%;
}
#open h2, #open p, #open button {
  margin-bottom: 30px;
}
#open h2 {
  font-family: Raleway;
  font-size: 35px;
  font-weight: 400;
  line-height: 41.09px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
#open p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  padding: 0 15%;
}
#open button {
  max-width: 250px;
  background-color: var(--app-blue);
}

@media only screen and (min-width: 1000px) {
  #open {
    padding-top: 15% !important;
  }
  #open h2 {
    font-family: Raleway;
    font-weight: 400;
    font-size: 49px;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: center;
  }
  #open img {
    content: url(../img/bgi-open-2.png);
  }
}
#popular .data-icon img {
  margin-top: 5px;
  position: absolute;
  z-index: 3;
}
#popular .data-icon #eye {
  margin-top: 15px;
}
#popular .circle {
  width: 62.71px;
  height: 62.71px;
  border-radius: 100%;
  position: relative;
  left: calc(50% - 31px);
  margin-bottom: 15px;
}
#popular .one {
  background-color: var(--app-red);
}
#popular .two {
  background-color: var(--app-blue);
}
#popular .three {
  background-color: var(--app-green);
}
#popular h2 {
  font-family: Raleway;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}
#popular h5 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 5.9600000381px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}
#popular p {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
  color: var(--app-grey);
}

@media only screen and (min-width: 1000px) {
  #popular {
    padding: 0 15% 10% 15% !important;
    display: grid !important;
    grid-template: 3fr 3fr/1fr 1fr 1fr;
    column-gap: 25px;
  }
  #popular h2 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    grid-row: 1;
    grid-column: 1/span 3;
  }
  #popular .data {
    grid-row: 2;
  }
}
#benefits {
  background-color: #F7F7F7;
  padding: 30px 0;
}
#benefits #red-frame {
  width: 127px;
  position: absolute;
  padding: 0;
  margin: -30px 0 0 120px;
}
#benefits article {
  background-color: #fff;
  margin: 25px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  padding: 25px;
  text-align: start;
}
#benefits article .line {
  margin-top: 25px;
  height: 3px;
  width: 75%;
  display: none;
}
#benefits article #first .line {
  background-color: var(--app-red);
}
#benefits article #shop .line {
  background-color: var(--app-blue);
}
#benefits article #green-div .line {
  background-color: var(--app-green);
}
#benefits article #blue-circle {
  background-color: var(--app-blue);
  border-radius: 100%;
  width: 131px;
  height: 131px;
  position: absolute;
  left: calc(50% - 65px);
}
#benefits article img {
  position: relative;
  width: 70%;
  height: auto;
  left: 15%;
  margin-bottom: 20px;
}
#benefits article h3 {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}
#benefits article p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
#benefits #green-card {
  margin: 0;
  border: none;
  background-color: #F7F7F7;
}
#benefits #green-card #green {
  background-color: var(--app-green);
  padding: 30px 30px 0 30px;
  border-radius: 5px;
  margin: 0;
}
#benefits #green-card #green img {
  width: 100%;
  margin: 0;
  position: static;
}
#benefits #green-card #green-div {
  margin: 0;
  background-color: #fff;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  padding: 25px;
  text-align: start;
}

@media only screen and (min-width: 1000px) {
  #benefits {
    display: grid !important;
    row-gap: 25px;
  }
  #benefits article {
    margin: auto 15% !important;
    display: grid !important;
    grid-template-areas: "first second";
    grid-template-columns: 1fr 1fr;
  }
  #benefits article .line {
    display: block !important;
  }
  #benefits #first, #benefits #phone, #benefits #green-div {
    grid-area: first;
  }
  #benefits #mac, #benefits #shop, #benefits #green {
    grid-area: second;
  }
  #benefits #blue-circle {
    margin-top: 30px;
    left: 25% !important;
    transform: scale(1.5);
  }
  #benefits #red-frame {
    left: auto;
    content: url("../img/benefits-frame-desk.png");
    right: 22% !important;
    margin-top: 5px;
    transform: scale(1.2);
  }
  #benefits #mac {
    transform: scale(0.8);
  }
  #benefits #green-card {
    padding: 0;
    column-gap: 30px;
  }
}
#pricing {
  padding: 60px 4%;
}
#pricing h2 {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  margin-bottom: 20px;
}
#pricing select {
  margin-bottom: 2rem;
}
#pricing article {
  background-color: #fff;
  border-radius: 18px;
  border: 2px solid;
  padding-top: 60px;
  margin-bottom: 50px;
}
#pricing article div {
  display: inline-block;
  position: relative;
  width: 40%;
  vertical-align: middle;
}
#pricing article .pricing-price p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.48px;
}
#pricing article .pricing-price .pricing-dollars {
  font-family: Open Sans;
  font-size: 46px;
  font-weight: 300;
  line-height: 62px;
}
#pricing article .pricing-price .limited {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.09px;
}
#pricing article .pricing-benefits {
  vertical-align: center;
  width: 50%;
}
#pricing article .pricing-benefits ul {
  list-style-type: none;
}
#pricing article .pricing-benefits ul li {
  text-align: start;
  margin-bottom: 25px;
}
#pricing article .pricing-benefits ul li * {
  display: inline-block;
  margin: 0 3px;
}
#pricing article .pricing-benefits ul li p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: center;
}
#pricing article .begin {
  width: 150px;
  height: 50px;
  position: relative;
  top: 30px;
}
#pricing #basic {
  border-color: var(--app-red);
}
#pricing #basic button {
  background-color: var(--app-red);
}
#pricing #basic .pricing-dollars {
  color: var(--app-red);
}
#pricing #professional {
  border-color: var(--app-blue);
}
#pricing #professional button {
  background-color: var(--app-blue);
}
#pricing #professional .pricing-dollars {
  color: var(--app-blue);
}
#pricing #premium {
  border-color: var(--app-green);
}
#pricing #premium button {
  background-color: var(--app-green);
}
#pricing #premium .pricing-dollars {
  color: var(--app-green);
}

@media only screen and (min-width: 1000px) {
  #pricing {
    padding: 60px 15% !important;
    display: grid !important;
    grid-template: auto auto 3fr/1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 3rem;
  }
  #pricing h2 {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
  }
  #pricing select {
    height: 2rem;
    grid-row: 2;
    grid-column: 2;
    margin-bottom: 0;
  }
  #pricing article {
    grid-row: 3;
    display: grid !important;
    grid-gap: 30px;
    text-align: center;
    justify-content: center;
  }
  #pricing article div {
    width: 100% !important;
  }
  #pricing article:hover {
    box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.2901960784);
    position: relative;
    transform: scale(1.1);
    transition: 0.2s ease-out, 0.2s ease-in;
  }
}
#contact {
  padding: 30px;
}
#contact h2 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 400;
  line-height: 46.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
#contact h5 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
#contact p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--app-grey);
}
#contact ul {
  list-style-type: none;
  text-align: start;
  margin-bottom: 30px;
}
#contact ul li * {
  display: inline-block;
}
#contact ul li ion-icon {
  color: var(--app-blue);
}
#contact form {
  text-align: start;
  display: flex;
  flex-direction: column;
}
#contact form label {
  color: var(--app-blue);
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  letter-spacing: 3.2799999714px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
#contact form input[type=text] {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: var(--app-grey) solid 1px;
  margin-bottom: 1.5rem;
  height: 2rem;
}
#contact form input[type=checkbox] {
  width: 24px;
  height: 24px;
  border: 1px solid grey;
  border-radius: 4px;
}
#contact form input[type=checkbox]:after {
  border: var(--app-blue) 1px solid;
}
#contact form button {
  align-self: center;
  justify-self: center;
}
#contact #consent-div {
  margin-top: 30px;
}
#contact #consent-div * {
  display: inline-block;
  vertical-align: top;
}
#contact #consent-div #input-div {
  top: 0;
  position: relative;
}
#contact #consent-div label {
  width: 80%;
}
#contact #consent-div label p {
  font-size: 12px;
  letter-spacing: normal;
}
#contact button {
  width: 226px;
  height: 57px;
  position: relative;
  background-color: var(--app-blue);
}

@media only screen and (min-width: 1000px) {
  #contact {
    padding: 5% 15% !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  #contact ul li {
    display: inline-block;
  }
  #contact form {
    display: grid;
  }
  #contact form button {
    justify-self: end;
  }
}
#backToTopDiv {
  width: 100%;
  position: sticky;
  display: flex;
  justify-items: right;
}

#backToTop {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: var(--app-blue);
  border: none;
}

#arrow-up {
  font-size: 1.5rem;
}

#scrollable {
  position: fixed;
  z-index: 4;
  top: 0;
  border: solid 3px var(--app-blue);
}

.error {
  border: solid 3px red !important;
  background-color: rgba(255, 0, 0, 0.4666666667) !important;
}

input[type=checkbox].error {
  all: unset;
}

@media only screen and (min-width: 1000px) {
  #backToTop {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    background-color: var(--app-blue);
    border: none;
  }
  #arrow-up {
    font-size: 2.5rem;
  }
}
.modal {
  display: none;
  background-color: rgba(4, 1, 1, 0.1254901961);
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  max-width: 95%;
  min-height: 20rem;
  background-color: white;
  border: solid 3px var(--app-blue);
  border-radius: 35px;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr 2fr;
}
.modal .modal-content #modal-close-button {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 0;
  color: black;
  margin-right: 10%;
  margin-top: 2%;
  box-shadow: none;
  font-size: 24px;
  right: 0;
  grid-row: 1;
  justify-self: end;
  align-self: flex-end;
  border-radius: 50%;
}
.modal .modal-content #modal-close-button:hover {
  background-color: rgba(0, 0, 0, 0.101);
  border-radius: 50%;
}
.modal .modal-content h2 {
  grid-row: 2;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  line-height: 41.09px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0 5%;
}
.modal .modal-content #inputModalDiv {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}
.modal .modal-content #inputModalDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .modal-content #inputModalDiv label {
  color: var(--app-blue);
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  letter-spacing: 3.2799999714px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 100%;
}
.modal .modal-content #inputModalDiv input {
  width: 20rem;
  max-width: 90%;
  background-color: transparent;
  border: none;
  border-bottom: var(--app-grey) solid 1px;
  margin-bottom: 1.5rem;
  height: 2rem;
}
.modal .modal-content #inputModalDiv #errorParagraphModal {
  color: red;
  display: none;
}
.modal .modal-content #inputModalDiv #modal-subscribe-button {
  width: 10rem;
  height: 3rem;
  justify-self: center;
  background-color: var(--app-blue);
}

#slider-section #slider .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#slider-section #slider .container .image {
  width: 40rem;
  height: 20rem;
  max-width: 80%;
  display: none;
  background-color: rgb(0, 0, 0);
}
#slider-section #slider .container .image img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}
#slider-section #slider .container .image.active {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
#slider-section #slider .container .slider-button {
  height: 100%;
  width: 3rem;
  position: relative;
  box-shadow: none;
}
#slider-section #slider .container .slider-button button {
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.023);
}
#slider-section #slider .container .slider-button button img {
  max-width: 2rem;
  width: 100%;
}
#slider-section #slider .container #left-button {
  left: 3rem;
}
#slider-section #slider .container #left-button img {
  transform: rotate(180deg);
}
#slider-section #slider .container #right-button {
  right: 3rem;
}
#slider-section #slider #markers {
  position: relative;
  bottom: 2rem;
}
#slider-section #slider #markers .marker {
  background-color: #737373;
  width: 1rem;
  height: 1rem;
}
#slider-section #slider #markers .active {
  background-color: #cbcbcb;
}

@media only screen and (min-width: 1000px) {
  .image img {
    max-width: 100%;
    width: auto;
    height: 100% !important;
  }
}
:root {
  --app-blue: #08A6E4;
  --app-grey: #A5A5A5;
  --app-green: #55DFB4;
  --app-red: #EB476E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

h1 {
  color: var(--app-blue);
  font-family: Raleway;
  font-size: 32px;
  font-weight: 300;
  line-height: 37px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*# sourceMappingURL=index.css.map */
