header {
  width: 100%;
  background-color: #FFF;
  justify-items: space-between;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
header nav {
  text-align: end;
}
header div, header nav {
  margin: 2%;
  width: 45%;
  display: inline-block;
}

main {
  text-align: center;
}
main button {
  width: 310px;
  height: 67px;
  gap: 0px;
  border: none;
  border-radius: 40px;
  opacity: 0px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}
main #open {
  padding-top: 100px;
  height: 600px;
  background-image: url("../img/bgi-open-section.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: auto 0;
}
main #open * {
  margin-bottom: 30px;
}
main #open h2 {
  font-family: Raleway;
  font-size: 35px;
  font-weight: 400;
  line-height: 41.09px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main #open p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  padding: 0 15%;
}
main #open button {
  background-color: var(--app-blue);
}
main #popular .circle {
  width: 62.71px;
  height: 62.71px;
  border-radius: 100%;
  position: relative;
  left: calc(50% - 31px);
}
main #popular .one {
  background-color: var(--app-blue);
}
main #popular .two {
  background-color: var(--app-blue);
}
main #popular .three {
  background-color: var(--app-blue);
}
main #popular h2 {
  font-family: Raleway;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}
main #popular h5 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 5.9600000381px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}
main #popular p {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
  color: var(--app-grey);
}
main #benefits {
  background-color: #F7F7F7;
  padding: 30px 0;
}
main #benefits article, main #benefits #green-div {
  background-color: #fff;
  margin: 25px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  padding: 25px;
  text-align: start;
}
main #benefits article img, main #benefits #green-div img {
  position: relative;
  width: 70%;
  height: auto;
  left: 15%;
  margin-bottom: 20px;
}
main #benefits article h3, main #benefits #green-div h3 {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}
main #benefits article p, main #benefits #green-div p {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main #benefits #green-card {
  margin: 0;
  border: none;
  background-color: #F7F7F7;
}
main #benefits #green-card #green {
  background-color: green;
  padding: 30px;
  border-radius: 5px;
}
main #benefits #green-card #green-div {
  margin: 0;
}
main #contact {
  padding: 30px;
}
main #contact h2 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 400;
  line-height: 46.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main #contact h5 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main #contact p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--app-grey);
}
main #contact ul {
  list-style-type: none;
  text-align: start;
  margin-bottom: 30px;
}
main #contact ul li * {
  display: inline-block;
}
main #contact form {
  text-align: start;
}
main #contact form label {
  color: var(--app-blue);
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  letter-spacing: 3.2799999714px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main #contact form input[type=text] {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: var(--app-grey) solid 1px;
}
main #contact #consent-div {
  margin-top: 30px;
}
main #contact #consent-div * {
  display: inline-block;
}
main #contact #consent-div #input-div {
  top: 0;
  position: relative;
}
main #contact #consent-div label {
  width: 80%;
}
main #contact #consent-div label p {
  font-size: 11px;
}
main #contact button {
  width: 226px;
  height: 57px;
  position: relative;
  right: 0;
  background-color: var(--app-blue);
}

footer {
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
footer h1 {
  font-size: 26px;
}
footer p {
  font-size: 11px;
  color: #A5A5A5;
}
footer #copyright, footer #media {
  width: 55%;
  margin: 0 2%;
  display: inline-block;
}
footer #media {
  width: 35%;
  text-align: end;
}

:root {
  --app-blue: #08A6E4;
  --app-grey: #A5A5A5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

h1 {
  color: var(--app-blue);
  font-family: Raleway;
  font-size: 32px;
  font-weight: 300;
  line-height: 37px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*# sourceMappingURL=index.css.map */
