
$circle-width: 131px;
$frame-width: 127px;

#benefits{
    background-color: #F7F7F7;

    padding: 30px 0;

    #red-frame{
        width: $frame-width;
        position: absolute;
        padding: 0;
        margin: -30px 0 0 120px;
    }
    
    article{
        background-color: #fff;
        margin: 25px;
        border: 1px solid #E8E9ED;
        border-radius: 5px;
        padding: 25px;
        text-align: start;

        .line{
            margin-top: 25px;
            height: 3px;
            width: 75%;
            display: none;
        }

        #first{
            .line{
                background-color: var(--app-red);
            }
        }
        #shop{
            .line{
                background-color: var(--app-blue);
            }
        }
        #green-div{
            .line{
                background-color: var(--app-green);
            }
        }
        

        #blue-circle{
            background-color: var(--app-blue);
            border-radius: 100%;
            width: $circle-width;
            height: $circle-width;
            position: absolute;
            left: calc(50% - 65px);
        }

        img{
            position: relative;
            width: 70%;
            height:auto;
            left: 15%;
            margin-bottom: 20px;
        }

        h3{
            font-family: Raleway;
            font-size: 30px;
            font-weight: 400;
            line-height: 35.22px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 20px;
        }

        p{
            font-family: Open Sans;
            font-size: 12px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }

        

    }

    #green-card{
        margin: 0;
        border: none;
        background-color: #F7F7F7;

        #green{
            background-color: var(--app-green);
            padding: 30px 30px 0 30px;
            border-radius: 5px;
            margin: 0;
            
            img{
                width: 100%;
                margin: 0;
                position: static;
            }
        }

        #green-div{
            margin: 0;
            background-color: #fff;
            border: 1px solid #E8E9ED;
            border-radius: 5px;
            padding: 25px;
            text-align: start;
        }
    }



}

@media only screen and (min-width: 1000px){
    #benefits{
        display: grid !important;
        row-gap: 25px;

        article{
            margin: auto 15% !important;
            display: grid !important;
            grid-template-areas: "first second";
            grid-template-columns: 1fr 1fr;

            .line{
                display: block !important;
            }
        }

        #first,#phone,#green-div{
            grid-area: first;
        }

        #mac,#shop,#green{
            grid-area: second;
        }

        #blue-circle{
            margin-top: 30px;
            left: 25%!important;
            transform: scale(1.5);
        }

        #red-frame{
            left: auto;
            content: url("../img/benefits-frame-desk.png");
            right: 22% !important;
            margin-top: 5px;
            transform: scale(1.2);
        }
        #mac{
            transform: scale(0.8);
        }

        #green-card{
            column-gap: 30px;
        }

    }
}