.footer{
    box-shadow: 0px -5px 40px 0px #00000033;
    padding: 15px;

    

    &__title{

        width: 55%;

       &__copyright{
        font-size: 11px;
        color: #A5A5A5;
        font-family: "Open Sans";
        font-size: 11px;
        font-weight: 400;
        line-height: 14.98px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        } 
        &__header{
            font-size: 26px;
        }
    }
    
    &__media{
        width: 35%;
        text-align: end;
    }
    
    &__title , &__media{
        
        margin: 0 2%;
        display:inline-block;
        vertical-align: middle;
    }

    
}

@media  only screen and (min-width: 1000px){
    .footer{
        padding: 0 137px;
    }
}