
//BACK TO TOP BUTTON

#backToTopDiv{
    width:100%;
    position:sticky;
    display:flex;
    justify-items: right;
}


#backToTop{
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-color: var(--app-blue);
    // background-color: transparent;
    border: none;

}

#arrow-up{
    font-size: 1.5rem;
}

//PERCENTAGE SCROLLER

#scrollable{
    position: fixed;
    z-index: 4;
    top: 0;
    border: solid 3px var(--app-blue);

}

//FORM

.error{

    border: solid 3px red !important;
    background-color: #ff000077 !important;
}

input[type=checkbox].error{
    all:unset;
}

@media only screen and (min-width: 1000px){
    #backToTop{
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        background-color: var(--app-blue);
        // background-color: transparent;
        border: none;
    }

    #arrow-up{
        font-size: 2.5rem;
    }
}