
header{
    width: 100%;
    background-color: #FFF;
    justify-items: space-between;

    box-shadow: 0px 3px 6px 0px #0000004A;


    div{
        width: 40%;
        padding: 2%;
    }

    nav{
        width: 50%;
        text-align: end;
    }

    div,nav{
        margin: 0;
        display: inline-block;
    }

    ul{
        display:none;
        grid-template-rows: repeat(4, 1fr);
        justify-content: space-around;
    
            li{
                
                // display: grid !important;
                text-align: center;
                align-items: center;
    
                a{
                    color: #A5A5A5;
                    font-family: "Open Sans";
                    font-size: 11px;
                    font-weight: 700;
                    line-height: 15px;
                    letter-spacing: 3.28px;
                    text-align: center;
                    text-decoration: none;
                    height: 100%;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                
            }
    }
}

@media only screen and (min-width: 1000px) {

    header{
        display: grid !important;
        
        grid-template-columns: 1fr 1fr;

        ion-icon{
            display:none !important;
        }

        nav,div{
            width: 100%;
        }
        
        div{
            margin-left: 10%;
        }

        nav{
            margin-right: 10%;
            height:100% !important;
            align-items: center;
        }
    
        ul{
            height: 100%;
            display:grid !important;
            grid-template-columns: repeat(4, 1fr) 10%;
            justify-content: space-around;
    
            li{
                
                display: grid !important;
                text-align: center;
                align-items: center;
    
                a{
                    color: #A5A5A5;
                    font-family: "Open Sans";
                    font-size: 11px;
                    font-weight: 700;
                    line-height: 15px;
                    letter-spacing: 3.28px;
                    text-align: center;
                    text-decoration: none;
                    height: 100%;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                
            }

            li:hover{

                border-bottom: solid 3px var(--app-blue);

                a{
                    color: black;
                    
                }
            }
        }
    }
    
}

