.modal{
    display: none;
    background-color: #04010120;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    

    .modal-content{
        // padding-bottom: 2rem;
        width: 50%;
        height: 24rem;

        margin: 10% 25% 10% 25%;
        

        background-color: white;
        border: solid 3px var(--app-blue);
        border-radius: 35px;
        text-align: center;
        display: grid;

        grid-template-rows: repeat(4, 1fr);
        gap: 2rem;
        
        
        #modal-close-button{
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            border-radius: 0;
            // border: solid 1px black;
            color: black;
            margin-right: 2%;
            margin-top: 2%;
            box-shadow: none;

            font-size: 24px;

            right: 0;
            
            grid-row: 1;

            justify-self: end;
        }

        h2{
            grid-row: 2;

            font-family: Raleway;
            font-size: 35px;
            font-weight: 400;
            line-height: 41.09px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

        #inputModalDiv{
            grid-row: 3;

        }

        label{
            color: var(--app-blue);
            font-family: Open Sans;
            font-size: 11px;
            font-weight: 600;
            line-height: 14.98px;
            letter-spacing: 3.2799999713897705px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

        input{
            width: 90%;
            background-color: transparent;
            border: none;
            border-bottom: var(--app-grey) solid 1px;
            margin-bottom: 1.5rem;
            height: 2rem;
        }
        
        #modal-subscribe-button{
            width: 10rem;
            height: 3rem;
            
            grid-row: 4;

            justify-self: center;

            background-color: var(--app-blue);

        }
    }
    
    
}

