.modal{
    display: none;
    background-color: #04010120;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    #modal-close-button{
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        border-radius: 0;
        // border: solid 1px black;
        color: black;
        margin-right: 10%;
        margin-top: 2%;
        box-shadow: none;

        font-size: 24px;

        right: 0;
        
        grid-row: 1;

        justify-self: end;
        align-self: flex-end;

        background-color: rgba(0, 0, 0, 0.101);
        border-radius: 50%;
    }

    .modal-content{
        // padding-bottom: 2rem;
        min-width: 50%;
        // width: 16rem;
        min-height: 24rem;

        // margin: 10% auto 0 0;
        

        background-color: white;
        border: solid 3px var(--app-blue);
        border-radius: 35px;
        text-align: center;
        display: grid;
        justify-content: center;

        grid-template-rows: 1fr repeat(3, 4fr);
        gap: 2rem;
        
        
        

        h2{
            grid-row: 2;

            font-family: Raleway;
            font-size: 30px;
            font-weight: 400;
            line-height: 41.09px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            margin: 0 5%;
        }

        #inputModalDiv{
            grid-row: 3;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
        }

        label{
            color: var(--app-blue);
            font-family: Open Sans;
            font-size: 11px;
            font-weight: 600;
            line-height: 14.98px;
            letter-spacing: 3.2799999713897705px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            width: 100%;


        }

        input{
            width: 20rem;
            max-width: 90%;
            background-color: transparent;
            border: none;
            border-bottom: var(--app-grey) solid 1px;
            margin-bottom: 1.5rem;
            height: 2rem;
            // display:flex;
            // justify-self: center;
            // text-align: center;
            // $input-width: width;
            // margin-left: $input-width;
        }
        
        #modal-subscribe-button{
            width: 10rem;
            height: 3rem;
            
            grid-row: 4;

            justify-self: center;

            background-color: var(--app-blue);

        }
    }
    
    
}

