#open{

    padding-top: 100px;
    
    img{
        width: 100%;
    }

    h2,p,button{
        margin-bottom: 30px;
    }

    h2{
        font-family: Raleway;
        font-size: 35px;
        font-weight: 400;
        line-height: 41.09px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    p{
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-align: center;
        padding: 0 15%;
    }

    button{
        max-width: 250px;
        background-color: var(--app-blue);
    }
}

@media only screen and (min-width: 1000px){
    #open{

        h2{
            font-family: Raleway;
            font-weight: 400;
            font-size: 49px;
            line-height: 57px;
            letter-spacing: 0%;
            text-align: center;

        }

        img{
            content: url(../img/bgi-open-2.png);
        }
    }
}
