.pricing{

    padding: 60px 4%;

    &__header{
        font-family: Raleway;
        font-size: 36px;
        font-weight: 400;
        line-height: 42.26px;
        margin-bottom: 20px;

    }

    &__selector{
        margin-bottom: 2rem;
        border-radius: 1rem;
        padding: 0.5rem;
        font-size: 1rem;
        height: 2.2rem;
    }
    &__article{
        background-color: #fff;
        border-radius: 18px;
        border: 2px solid;
        padding-top: 60px;
        margin-bottom: 50px;
        position: relative;
        vertical-align: center;

        &__price{
            display: inline-block;
            position:relative;
            width: 40%;
            vertical-align: middle;


            &__money{
                font-family: Open Sans;
                font-size: 46px;
                font-weight: 300;
                line-height: 62px;
            }

            &__tier{
                font-family: Raleway;
                font-size: 20px;
                font-weight: 700;
                line-height: 24.48px;
                margin-bottom: 0.3rem;
            }

            &__limited{
                font-family: Raleway;
                font-size: 20px;
                font-weight: 700;
                line-height: 20.48px;

            }
        }


        &__benefits{

            display:inline-block;
            position:relative;
            vertical-align: middle;


            &__list{
                list-style-type: none;
                &__item{
                    text-align: start;
                    margin-bottom: 25px;

                    *{
                        display:inline-block;
                        margin: 0 3px;
                    }

                    &__desc{
                        font-family: Open Sans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.07px;
                        text-align: center;
                    }
                }
            }
        }
        &__begin{
            width: 150px;
            height: 50px;
            position: relative;
            top: 30px;
        }

    }

    

    &__basic{
        border-color: var(--app-red);

        &__begin{
            background-color: var(--app-red);
        }
        &__money{
            color: var(--app-red)
        }
    }

    &__professional{
        border-color: var(--app-blue);

        &__begin{
            background-color: var(--app-blue);
        }
        &__money{
            color: var(--app-blue)
        }
    }

    &__premium{
        border-color: var(--app-green);

        &__begin{
            background-color: var(--app-green);
        }
        &__money{
            color: var(--app-green)
        }
    }

}

@media only screen and (min-width: 1000px){
    .pricing{
        padding: 60px 15% !important;
        display: grid !important;
        grid-template: auto auto 3fr / 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 3rem;

        &__header{
            grid-row: 1;
            grid-column: 2;
            justify-self:center;
        }

        

        &__selector{
            height: 2rem;
            grid-row: 2;
            grid-column: 2;
            margin-bottom: 0;
        }

        &__article{
            grid-row: 3;
            display: grid !important;
            grid-gap: 30px;
            text-align: center;
            justify-content: center;

            &__price , &__benefits{
                width: 100% !important;
            }

            
        }
        &__article:hover{
            box-shadow: 5px 10px 27px 0px #07ACE64A;
            position: relative;
            transform: scale(1.1);
            transition: 0.2s ease-out, 0.2s ease-in;
        }
        
    }
}