#pricing{

    padding: 60px 25px;

    h2{
        font-family: Raleway;
        font-size: 36px;
        font-weight: 400;
        line-height: 42.26px;
        margin-bottom: 20px;

    }

    article{
        background-color: #fff;
        border-radius: 18px;
        border: 2px solid;
        padding-top: 60px;
        margin-bottom: 50px;

        div{
            display: inline-block;
            position:relative;
            width: 40%;
            vertical-align: middle;
        }

        .pricing-price{

            p{
                font-family: Raleway;
                font-size: 20px;
                font-weight: 700;
                line-height: 24.48px;

            }

            .pricing-dollars{
                font-family: Open Sans;
                font-size: 46px;
                font-weight: 300;
                line-height: 62px;

            }

            .limited{
                font-family: Raleway;
                font-size: 12px;
                font-weight: 700;
                line-height: 14.09px;

            }
        }

        .pricing-benefits{
            vertical-align: center;
            width: 50%;

            ul{
                list-style-type: none;
                li{
                    text-align: start;
                    margin-bottom: 10px;

                    *{
                        display:inline-block;
                        margin: 0 3px;
                    }

                    p{
                        font-family: Open Sans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.07px;
                        text-align: center;
                    }
                }
            }
        }
        .begin{
            width: 150px;
            height: 50px;
            position: relative;
            top: 30px;
        }

    }

    article:hover{
        box-shadow: 5px 10px 27px 0px #07ACE64A;
        position: relative;
        transform: scale(1.1);
        transition: 0.2s ease-out, 0.2s ease-in;
    }

    #basic{
        border-color: var(--app-red);
        button{
            background-color: var(--app-red);
        }
        .pricing-dollars{
            color: var(--app-red)
        }
    }

    #professional{
        border-color: var(--app-blue);
        button{
            background-color: var(--app-blue);
        }
        .pricing-dollars{
            color: var(--app-blue)
        }
    }

    #premium{
        border-color: var(--app-green);
        button{
            background-color: var(--app-green);
        }
        .pricing-dollars{
            color: var(--app-green)
        }
    }

}

@media only screen and (min-width: 1000px){
    #pricing{
        padding: 60px 15% !important;
        display: grid !important;
        grid-template: auto 3fr / 1fr 1fr 1fr;
        column-gap: 25px;

        h2{
            grid-column: 2;
            justify-self:center;
        }

        article{
            grid-row: 2;
            display: grid !important;
            grid-gap: 50px;
            text-align: center;
            justify-content: center;

            div{
                width: 100% !important;
            }
        }
    }
}