#slider-section{
    #slider{
        .container{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .image{
                width: 40rem;
                height: 20rem;
                max-width: 80%;

                
                display:none;
                background-color: rgb(0, 0, 0);
    
                img{
                    max-width: 100%;
                    width: auto;
                    max-height:100%;
                    height: auto;
                }
    
            }
            .image.active{
                display: flex !important;
                align-items: center;
                justify-content: center;
            }

            .slider-button{

                height: 100%;
                width: 3rem;
                position:relative;
                box-shadow: none;


                button{
                    height:100%;
                    border-radius: 0;
                    box-shadow: none;
                    width: 3rem;
                    background-color: rgba(0, 0, 0, 0.023);

                    img{
                        max-width: 2rem;
                        width: 100%;
                        
                    }
                    
                }

            }

            #left-button{
                left:3rem;
                img{
                    transform: rotate(180deg);

                }
            }
            #right-button{
                right:3rem;
            }

            

        }

        #markers{
            position:relative;

            bottom: 2rem;

            .marker{
                background-color: #737373;
                width: 1rem;
                height: 1rem;
            }

            .active{
                background-color: #cbcbcb;
            }

        }
        
    }
}

@media only screen and (min-width: 1000px){
    .image{
    
        img{
            max-width: 100%;
            width: auto;
            height: 100% !important;
        }

    }
}