@use 'header';
@use 'main';
@use 'footer';

//MAIN
@use 'open';
@use 'popular';
@use 'benefits';
@use 'pricing';
@use 'contact';

//GLOBAL
@use 'global';
@use 'modal';
@use 'slider';
:root{
    --app-blue: #08A6E4;
    --app-grey: #A5A5A5;
    --app-green: #55DFB4;
    --app-red: #EB476E;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 320px;
}

h1{
    color: var(--app-blue);
    font-family: Raleway;
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}



